*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    display: flex;
}
a{
    text-decoration: none;
    color: #808080;
}

ul{
    list-style: none;
}

.uppercase-bold{
    font-weight: 800;
    text-transform: uppercase;
}

.circle{
    border: 5px solid white;
    border-radius: 50%;
    padding: .5rem;
}


/* Navbar */

.navbar-small{
    background-color: black;
    width: 4rem;
    height: calc(100vh - 90px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 20;
}

.navbar-small .icon{
    padding: 1rem;
    cursor: pointer;
}

.navbar-small .nav-bottom{
    padding: 1rem;
}

.navbar-small .nav-bottom a img{
    width: 80%;
    margin: 3rem auto;
    display: block;
}

.navbar-small .nav-bottom .user{
    border-radius: 50%;
    background-color: #808080;
    padding: .4rem;
    width: 3rem;
    aspect-ratio: 1 / 1;
    margin: 0 -.5rem 2rem;
    cursor: pointer;
}

.navbar-big{
    background-color: black;
    width: 255px;
    padding: 1.5rem;
    color: #808080;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 90px);
    z-index: 20;
}

.navbar-big .logo{
    padding: 0 1rem 1.5rem;
}
.navbar-big .nav-top{
    overflow: hidden;
}

.navbar-big .options img{
    width: 2rem;
    vertical-align: bottom;
}

.navbar-big .options span{
    font-size: 18px;
    font-weight: 500;
}

.navbar-big .options li{
    margin: 0 0 .5rem;
}

.navbar-big h2{
    margin-top: 2rem;
    color: white;
}

.navbar-big .new-playlist-btn {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
    cursor: pointer;
    font-size: 18px;
}

.navbar-big .new-playlist-btn .plus{
    display: block;
    background-color: #808080;
    width: 50px;
    aspect-ratio: 1 / 1;
    color: white;
}

.navbar-big .new-playlist-btn .plus i{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.navbar-big .playlist li{
    margin: 1rem 0;
}

.navbar-big .install{
    display: flex;
}

.navbar-big .install img{
    width: 20px;
    margin-right: 2rem;
}

.navbar-big .user{
    display: flex;
    align-items: center;
    border-top: 1px solid #808080;
}

.navbar-big .user img{
    width: 50px;
    border-radius: 50%;
    padding: .3rem;
    background-color: #808080;
    margin: 1rem 2rem 0 0;
}

.navbar-big .user .name{
    color: white;
    font-size: 18px;
    font-weight: 800;
}

.navbar-big li a:hover{
    color: white;
}



@media (min-width: 639px) {
    .navbar-big{
        display: flex;
    }

    .navbar-small{
        display: none;
    }
}

/* Player */

#player{
    width: 100%;
    height: 90px;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    flex: 1 1 0;
    z-index: 20;
}


.song{
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 2rem;
    flex: 0 1 auto;
}

.song img{
    width: 60px;
    display: block;
}

.info-song{
    margin: 0 1rem;
}

.info-song span{
    display: block;
}

.song-name{
    color: white;
    font-weight: 700;
    line-height: 2rem;
}

.album-name{
    color: #808080;
    font-size: 14px;
    white-space: wrap;
}

.song .icons{
    display: flex;
    gap: 1rem;
   
}

.song .icons i{
    display: block;
    color: #808080;
    font-size: 18px;
    
}

@media (max-width:750px) {
    .album-name{
        font-size: 10px;
    }
    .song-name{
        font-size: 14px;
    }
    .info-song{
        margin: 0 .3rem;
    }
    .song{
        margin: 0 .3rem;
        transform: scalex(.8);
        position: relative;
        left: -1rem;
    }

}

@media (max-width:1000px) {
    .song .icons{
        flex-direction: column;
    }
    }

.player{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1 1 100%;
}

.player .icons{
    color: white;
    font-size: 1.5rem;
    white-space: nowrap;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

i:hover{
    transform: scale(1.5);
}



.player .slider{
    margin-top: 1rem;
    color: white;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.bar{
    flex: 1 1 200px;
    max-width: 600px;
    min-width: 200px;
    height: 0;
    border: 3px solid #5a5a5a;
    border-radius: 5px;
    position: relative;
    background-color: #5a5a5a;
    
}

.bar-light{
    width: 25%;
    height: 0;
    border: 3px solid #8c8c8c;
    border-radius: 5px;
    position: absolute;
    left: -3px;
    top: -3px;
    background-color: #8c8c8c;
}

.point{
    border: 8px solid #8c8c8c;
    border-radius: 50%;
    position: absolute;
    top: -8px;
    left: 100%;
    background-color: #8c8c8c;
}

.bar:hover .point{
    transform: scale(1.5);
    transition: .5s;
    border-color: white;
    background-color: white;
}

.bar:hover .bar-light{
    transition: .5s;
    border-color: white;
    background-color: white;
}



.controls{
    color: white;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 18px;
}

.controls .bar{
    min-width: 100px;
    max-width: 200px;
    margin-right: 1rem;
}

@media (max-width:750px) {
    .player .icons{
        font-size: 1rem;
    }
    .slider{
        transform: scaleX(.6);
    }
    .player{
        position: relative;
        left: -6rem;
    }
    .controls{
        transform: scale(.8);
        position: relative;
        left: -13rem;
    }
}


/* Main-content */

.overlay{
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: end;
    position: fixed;
    z-index: 10;
}

.overlay .btn{
    color: white;
    align-self: center;
    margin: 0 4rem;
    border: 5px solid white;
    padding: 1rem;
    border-radius: 50px;
}

.overlay .btn:hover{
    transition: 1s;
    transform: scale(1.3);
    color: gold;
}

.content{
    background-color: #141922;
    width: calc(100% - 4rem);
    height: calc(100vh - 90px);
    overflow-y: scroll;
    padding-top: 100px;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content nav{
   
    display: flex;
    font-weight: 700;
    gap: 1rem;
    flex-wrap: wrap;
    text-align: center;
    
}
.content nav a:hover{
    transition: .5s;
    color: white;
    border-bottom: 3px solid greenyellow;
}

.content h2{
    color: white;
    margin-top: 2rem;
    align-self: flex-start;
}

.recently{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    
    flex: 0 1 calc(100% / 6 - 2rem);
    position: relative;
}

.card img{
    width: 100%;
}

.title{
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 1rem 0;
    text-align: center;
}

.subtitle{
    color: #808080;
    text-align: center;
    font-size: 12px;
}

.suggestions{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.artists{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.subtitle-xl{
    color: #808080;
    align-self: flex-start;
    padding: .5rem 0;
}

.round img{
    border-radius: 50%
}
.round .overlay{
    border-radius: 50%;
}

.card .overlay{
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    color: white;
    display: none;
}

.card .overlay i{
    position: absolute;
    top: 50%;
    right: 33%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.card:hover  .overlay{
    display: block;
}

@media (max-width:1100px) {
    .card{
        flex: 0 1 calc(100% / 4 - 2rem);
    }
    
}

@media (max-width:800px) {
    .card{
        flex: 0 1 calc(100% / 2 - 2rem);
    }
    
}


