*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    display: flex;
}
a{
    text-decoration: none;
    color: #808080;
}

ul{
    list-style: none;
}

.uppercase-bold{
    font-weight: 800;
    text-transform: uppercase;
}

.circle{
    border: 5px solid white;
    border-radius: 50%;
    padding: .5rem;
}


/* Navbar */

.navbar-small{
    background-color: black;
    width: 4rem;
    height: calc(100vh - 90px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.navbar-small .icon{
    padding: 1rem;
    cursor: pointer;
}

.navbar-small .nav-bottom{
    padding: 1rem;
}

.navbar-small .nav-bottom a img{
    width: 80%;
    margin: 3rem auto;
    display: block;
}

.navbar-small .nav-bottom .user{
    border-radius: 50%;
    background-color: #808080;
    padding: .4rem;
    width: 3rem;
    aspect-ratio: 1 / 1;
    margin: 0 -.5rem 2rem;
    cursor: pointer;
}

.navbar-big{
    background-color: black;
    width: 255px;
    padding: 1.5rem;
    color: #808080;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 90px);
}

.navbar-big .logo{
    padding: 0 1rem 1.5rem;
}

.navbar-big .options img{
    width: 2rem;
    vertical-align: bottom;
}

.navbar-big .options span{
    font-size: 18px;
    font-weight: 500;
}

.navbar-big .options li{
    margin: 0 0 .5rem;
}

.navbar-big h2{
    margin-top: 2rem;
    color: white;
}

.navbar-big .new-playlist-btn {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
    cursor: pointer;
    font-size: 18px;
}

.navbar-big .new-playlist-btn .plus{
    display: block;
    background-color: #808080;
    width: 50px;
    aspect-ratio: 1 / 1;
    color: white;
}

.navbar-big .new-playlist-btn .plus i{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.navbar-big .playlist li{
    margin: 1rem 0;
}

.navbar-big .install{
    display: flex;
}

.navbar-big .install img{
    width: 20px;
    margin-right: 2rem;
}

.navbar-big .user{
    display: flex;
    align-items: center;
    border-top: 1px solid #808080;
}

.navbar-big .user img{
    width: 50px;
    border-radius: 50%;
    padding: .3rem;
    background-color: #808080;
    margin: 1rem 2rem 0 0;
}

.navbar-big .user .name{
    color: white;
    font-size: 18px;
    font-weight: 800;
}



@media (min-width: 639px) {
    .navbar-big{
        display: flex;
    }

    .navbar-small{
        display: none;
    }
}

/* Player */

#player{
    width: 100%;
    height: 90px;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    flex: 1 1 0;
}

.song{
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 2rem;
    flex: 0 1 0;
}

.song img{
    width: 60px;
    display: block;
}

.info-song{
    margin: 0 2rem;
}

.info-song span{
    display: block;
}

.song-name{
    color: white;
    font-weight: 700;
    line-height: 2rem;
}

.album-name{
    color: #808080;
    font-size: 14px;
    white-space: nowrap;
}

.song .icons{
    display: flex;
    gap: 1rem;
   
}

.song .icons i{
    display: block;
    color: #808080;
    font-size: 18px;
    
}

.player{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1 1 100%;
}

.player .icons{
    color: white;
    font-size: 1.5rem;
    white-space: nowrap;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}



.player .slider{
    margin-top: 1rem;
    color: white;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.bar{
    flex: 1 1 200px;
    max-width: 600px;
    min-width: 200px;
    height: 0;
    border: 3px solid #5a5a5a;
    border-radius: 5px;
    
}

.controls{
    color: white;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 18px;
}

.controls .bar{
    min-width: 100px;
    max-width: 200px;
    margin-right: 1rem;
}


.content{
    background-color: #141922;
    width: calc(100% - 4rem);
    height: calc(100vh - 90px);
}